In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
%matplotlib inline

In [24]:
#calculates clopper pearson interval : CI for distribution of k successes on on trials
def clopper_pearson(input,alpha=0.32):
    k = input[0]
    n = input[1]
    lo = scipy.stats.beta.ppf(alpha/2,k,n-k+1)
    hi = scipy.stats.beta.ppf(1-alpha/2,k+1,n-k)
    pro = float(input[0])/float(input[1])
    return pro, lo, hi

In [49]:
#Values for UV = 20
uv20uv20 = [96,185]
uv20g20 = [101,190]
uv20g200 = [117,214]

uv20_data = pd.DataFrame([uv20uv20, uv20g20, uv20g200])
uv20_data

     0    1
0   96  185
1  101  190
2  117  214

In [51]:
#Values for UV = 2
uv2uv22 = [146,217]
uv2g20 = [112,203]
uv2_data = pd.DataFrame([uv2uv22, uv2g20])
uv2_data

     0    1
0  146  217
1  112  203

In [28]:
[a,b,c] = clopper_pearson(uv20uv20)

In [32]:
all_data = pd.DataFrame()